body{background-image:url(../img/pozadio.jpg);
background-position:top}

header{margin-top:50px}

p{font-size:20px}

a{color:white;
text-decoration:none}

.sleva{margin-top:-30px;
float:right;
margin-left:100px}


h1{float:right;
margin-top:-20;
font-size:36px}

h3{font-size:30px;
float:right;
margin-top:-15px;
margin-right:-555}

h2{font-size:50px;
margin-left:300;
color:black;}

.hltext{margin-left:110px}

h4{float:left}

header{color:white}

.hltextt{margin-top:-20px;
font-size:20px}

.galerie{margin-top:4px}