body{background-image:url(../img/texture.jpg)}

.main{background-color:rgba(255,255,255,0.5);
margin-top:30px}

h1{font-size:39px;
margin-top:-30px;
padding-left:60px}

.zveme{padding-left:35px;
    margin-right:-60px;}

a{color:#641818;
font-size:20px;
text-decoration:none}

.cena{margin-left:600px;
margin-top:-7px;
margin-bottom:1px}


p{text-align:justify;
color:black;
font-size:15px;padding-left:25px;padding-right:25px}

h2{font-size:20px;
margin-top:-56px;
padding-left:60px}

.prihlaska{font-size:30px}
.fotka{margin-bottom:-15px}

.galerie{padding-left:25px;
}

.prvni{margin-bottom:-150px;
margin-left:-5px;}

img{padding-top:4px}

h5{padding-left:697px;
padding-bottom:15px;
margin-top:-10px} 

iframe{margin-left:25px;
margin-top:-20px}
